body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

#root {
  width: 100vw;
  height: 500vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
