#title-4 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.box4 {
  width: 50vw;
  height: 100vh;
  background: url(../img/gameboy_advance_png_by_framerater_dd3c8ms.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-30%);
  opacity: 0;
  transition: 1s;
}

.box4.active {
  transform: translateX(0%);
  opacity: 1;
}

.imgbox1 {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 {
  width: 22vw;
  height: 30vh;
  position: absolute;
  right: 9.1vw;
  bottom: 11vh;
}

.mySlides1 {
  width: 40.2vw;
  height: 46vh;
}

.slideshow-container1 {
  width: 40.2vw;
  height: 46vh;
  position: absolute;
}

.fade1 {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    /* transform: translate(10px, 15px); */
    opacity: 0.1;
    transition: 0.1s;
  }
  to {
    opacity: 1;
  }
}

/* --------------------------------------------- */

.box4-1 {
  width: 40vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(30%);
  opacity: 0;
  transition: 1s;
}

.box4-1.active {
  transform: translateX(0%);
  opacity: 1;
}

.box4-1-1 {

  width: 30vw;
  height: 80vh;
  background-color: antiquewhite;
}

