#title-5 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(20, 61, 61);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.box5 {
  width: 50%;
  height: 100vh;
  background: url(../img/pngfind.com-crt-monitor-png-5018974.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  right: 45vw;
  transform: translateX(-30%);
  opacity: 0;
  transition: 1s;
}

.box5.active {
  transform: translateX(0%);
  opacity: 1;
}

.box5-1 {
  width: 30vw;
  height: 80vh;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  left: 56vw;
  top: 10vh;
  position: absolute;
  transform: translateX(100%);
  opacity: 0;
  transition: 1s;
}

.box5-1.active {
  transform: translateX(0%);
  opacity: 1;
}
